apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: api-gateway
  name: api-gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: api-gateway
    spec:
      containers:
      - image: ghcr.io/azuar4e/api-gateway-tfg:latest # {"$imagepolicy": "flux-system:api-gateway-tfg"}
        name: api-gateway-tfg
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: microservices-config

