apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: scraper
  name: scraper
spec:
  replicas: 2
  selector:
    matchLabels:
      app: scraper
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: scraper
    spec:
      containers:
      - image: ghcr.io/azuar4e/scraper-tfg:latest # {"$imagepolicy": "flux-system:scraper-tfg"}
        name: scraper-tfg
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: microservices-config