---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  chart:
    spec:
      chart: ingress-nginx
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx-repo
  install:
    createNamespace: true
  interval: 10m0s
  storageNamespace: ingress-nginx
  targetNamespace: ingress-nginx
  values:
    controller:
      admissionWebhooks:
        enabled: false
      replicaCount: 1
      service:
        type: NodePort
